.card-top-bar {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(218, 218, 218);
}

.card-title {
  margin-left: 5px;
  float: left;
  font-family: Inconsolata, monospace;
}

.card-title p {
  line-height: 0px;
}

.settingsLink {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  padding: 4px;
  border-radius: 3px;
  background: rgb(194, 194, 194);
  vertical-align: middle;
}

.settingsLink > img {
  /* vertical-align: middle; */
}

.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 10px;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #f1f1f1;
}

.reading-value {
  /* display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; */
  font-family: Inconsolata, monospace;
  font-size: 5em;
  line-height: 75px;
}

.reading-label {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  line-height: 36px;
}
